<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.githubuser">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <permission android:name="com.example.githubuser" android:protectionLevel="normal"/>
    <permission android:name="com.example.githubuser" android:protectionLevel="normal"/>

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name=".provider.FavoriteProvider"
            android:authorities="com.example.githubuser"
            android:exported="true"
            android:enabled="true"
            android:readPermission="com.example.githubuser.READ_DATABASE"
            android:writePermission="com.example.githubuser.WRITE_DATABASE"/>
        <receiver
            android:name=".notification.AlarmReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="true" />
        <activity
            android:name=".view.settings.AlarmActivity"
            android:label="@string/title_activity_alarm" />
        <activity
            android:name=".view.home.MainActivity"
            android:label="@string/title_activity_main" />
        <activity android:name=".view.detail.DetailActivity" />
        <activity android:name=".view.splashscreen.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>